.category-tabs {
  display: flex;
  padding: 3rem 0;
  margin-left: 30%;
  border-radius: 8px;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tab {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #0a0a0a;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  transition: background 0.2s;
}

.tab:hover {
  background-color: #e0e0e0;
  color:#0a0a0a;
}

.tab.active {
  background-color: #b30000;
  color: #fff;
}

.category-dropdown {
  margin: 1rem 0;
  border: none;
  
}

.category-dropdown select {
  width: 38%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #0a0a0a;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 7%;
}
